<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".DrawerNavActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer_nav"
            android:theme="@style/Theme.WebsDemo.NoActionBar" />
        <activity
            android:name=".NavMainActivity"
            android:exported="false" />
    </application>

</manifest>